[difftool.latex]
        cmd = ~/bin/git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[alias]
	pbcopy = !printf "$1" | pbcopy
	wdiff = diff --color-words
	ldiff = difftool -t latex
	s = switch
	b = switch -c
	c = checkout
	p = !git push -u origin `git rev-parse --abbrev-ref HEAD`
	rm-merged = !git branch --format='%(refname:short)' --merged | egrep -v 'master|develop' | xargs git branch -d
	push-f = !git push --force-with-lease origin `git rev-parse --abbrev-ref HEAD`
	pick = cherry-pick
	up = pull --all --rebase --autostash --prune

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore

[push]
	default = current

[pull]
	rebase = true

[init]
	defaultBranch = main

[user]
	name = horimislime
	email = horimislime@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEWdJRpJP2SvsNjsS/Ax413o0Z4kzY1aOiin4vQ0iQ7h

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[git-up "fetch"]
	all = true

[github]
	user = horimislime

[diff]
	compactionHeuristic = true

[color]
	ui = always

[fetch]
	prune = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
