[alias]
	wdiff = diff --color-words
	pbcopy = !printf "$1" | pbcopy

[difftool.latex]
        cmd = ~/bin/git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[alias]
        ldiff = difftool -t latex 
	st = status
	l = log
	pu = push origin 
	c = commit
	cb = checkout -b 
	ch = checkout 
	branches = branch -a
	p = !git push origin `git rev-parse --abbrev-ref HEAD`
	pick = cherry-pick -rn
	pbcopy = !printf "$1" | pbcopy
	up = !git pull origin `git rev-parse --abbrev-ref HEAD`
	check = !echo `python -c "print 'hello'"`
[user]
	name = horimi-soichiro
	email = horimi_soichiro@cyberagent.co.jp

[core]
	excludesfile = ~/.gitignore_global
	editor = "/usr/local/bin/emacsclient -nw"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[include]
	path = .gitconfig.local
[init]
	templatedir = ~/.git_template
