[difftool.latex]
        cmd = ~/bin/git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[alias]
	wdiff = diff --color-words
	ldiff = difftool -t latex
	s = stash
	b = checkout -b
	c = checkout
	p = !git push origin `git rev-parse --abbrev-ref HEAD`
	push-f = !git push --force-with-lease origin `git rev-parse --abbrev-ref HEAD`
	pick = cherry-pick
	pr-branch = "!f() { git rev-parse --abbrev-ref $(git name-rev --name-only $(git ls-remote origin refs/pull/$1/head | cut -f1)) | sed s/^origin\\\\///; }; f"
	prs = !hub-pr list
	cur-pr = browse-remote --pr
	issues = !ghi list
	push-f = !git push -f origin `git rev-parse --abbrev-ref HEAD`
	pr = "!hub browse -- compare/develop...$(git symbolic-ref --short HEAD)?body=%0A%23$(echo $(git symbolic-ref --short\
 HEAD) |awk -F'[/_-]' '{print $2}')%0A%0A%23%20Before%0A%0A%23%20After%20%0A%0A"
	issue = "!ghi show $(echo $(git symbolic-ref --short HEAD) |awk -F "/" '{print $2}')"
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"

[core]
	excludesfile = /Users/horimislime/.gitignore_global
	editor = "emacsclient -t"

[include]
	path = ~/.gitconfig.local

[user]
	name = horimislime
	email = horimislime@gmail.com
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[github]
	user = horimislime
	token = c3c94fcd1a500ac56f8463699ef46d85e573ab93

[git-up "fetch"]
	all = true

[diff]
	tool = echo
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[ghi]
	token = !security find-internet-password -a horimislime -s github.com -l 'ghi token' -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
