.DS_Store
#*#
.#*#
*~
.zsh.d/.zsh.local
.vimperator/info/default
.#install.sh
#install.sh#
.zsh.d/plugins/incr-0.2.zsh
.gitconfig.local
.vim/bundle/*
.tmux.d/tmux.local

dotfiles/.emacs.d/ac-comphist.dat
dotfiles/.emacs.d/el-get
dotfiles/.emacs.d/el-get-recipes
dotfiles/.emacs.d/elpa
dotfiles/.emacs.d/recentf
dotfiles/.emacs.d/.scratch-backup
dotfiles/.emacs.d/url/

.config/fish/conf.d
.config/fish/completions
.config/fish/fishd*
.config/fisherman
