[submodule "dotfiles/.tmux.d/powerline-fonts"]
	path = dotfiles/.tmux.d/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotfiles/.tmux.d/themepack"]
	path = .tmux.d/themepack
	url = https://github.com/jimeh/tmux-themepack.git

