[submodule ".iterm/color-themes"]
	path = .iterm/color-themes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux.d/powerline-fonts"]
	path = .tmux.d/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule ".tmux.d/themepack"]
	path = .tmux.d/themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule ".tmux.d/tmux-colors-solarized"]
	path = .tmux.d/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".xcode/xcode-themes"]
	path = .xcode/xcode-themes
	url = git@github.com:hdoria/xcode-themes.git
