[alias]
	wdiff = diff --color-words
	pbcopy = !printf "$1" | pbcopy

[difftool.latex]
        cmd = ~/bin/git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[alias]
        ldiff = difftool -t latex 
	st = status
	l = log
	pu = push origin 
	c = commit
	cb = checkout -b 
	ch = checkout 
	branches = branch -a
	p = !git push origin `git rev-parse --abbrev-ref HEAD`

[user]
	name = horimislime
	email = horimislime@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[include]
	path = .gitconfig.local

