<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Custom Color Presets</key>
	<dict>
		<key>One Dark</key>
		<dict>
			<key>WebMainResource</key>
			<dict>
				<key>WebResourceData</key>
				<data>
				PGh0bWw+PGhlYWQ+PC9oZWFkPjxib2R5PjxwcmUgc3R5
				bGU9IndvcmQtd3JhcDogYnJlYWstd29yZDsgd2hpdGUt
				c3BhY2U6IHByZS13cmFwOyI+Jmx0Oz94bWwgdmVyc2lv
				bj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPyZndDsKJmx0
				OyFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUv
				L0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5h
				cHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0
				ZCImZ3Q7CiZsdDtwbGlzdCB2ZXJzaW9uPSIxLjAiJmd0
				OwombHQ7ZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAw
				IENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsK
				CQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNlJmx0Oy9rZXkm
				Z3Q7CgkJJmx0O3N0cmluZyZndDtzUkdCJmx0Oy9zdHJp
				bmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENvbXBvbmVu
				dCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuMjAz
				OTIxNTY4NjI3NDUwOTgmbHQ7L3JlYWwmZ3Q7CgkJJmx0
				O2tleSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjE3MjU0OTAxOTYwNzg0
				MzEzJmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVk
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuMTU2ODYyNzQ1MDk4MDM5MiZsdDsvcmVhbCZn
				dDsKCSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5z
				aSAxIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZn
				dDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNlJmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdCJmx0Oy9z
				dHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				NDU4ODIzNTI5NDExNzY0NyZsdDsvcmVhbCZndDsKCQkm
				bHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5
				Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNDIzNTI5NDExNzY0
				NzA1OSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O1Jl
				ZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVh
				bCZndDswLjg3ODQzMTM3MjU0OTAxOTYmbHQ7L3JlYWwm
				Z3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5Jmd0O0Fu
				c2kgMTAgQ29sb3ImbHQ7L2tleSZndDsKCSZsdDtkaWN0
				Jmd0OwoJCSZsdDtrZXkmZ3Q7Q29sb3IgU3BhY2UmbHQ7
				L2tleSZndDsKCQkmbHQ7c3RyaW5nJmd0O3NSR0ImbHQ7
				L3N0cmluZyZndDsKCQkmbHQ7a2V5Jmd0O0JsdWUgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC40NzQ1MDk4MDM5MjE1Njg2Jmx0Oy9yZWFsJmd0OwoJ
				CSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9uZW50Jmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC43NjQ3MDU4ODIz
				NTI5NDExJmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7
				UmVkIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuNTk2MDc4NDMxMzcyNTQ5Jmx0Oy9yZWFs
				Jmd0OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0O2tleSZndDtB
				bnNpIDExIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGlj
				dCZndDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNlJmx0
				Oy9rZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdCJmx0
				Oy9zdHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENv
				bXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0
				OzAuNCZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dy
				ZWVuIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDty
				ZWFsJmd0OzAuNjAzOTIxNTY4NjI3NDUwOSZsdDsvcmVh
				bCZndDsKCQkmbHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjgxOTYw
				Nzg0MzEzNzI1NDkmbHQ7L3JlYWwmZ3Q7CgkmbHQ7L2Rp
				Y3QmZ3Q7CgkmbHQ7a2V5Jmd0O0Fuc2kgMTIgQ29sb3Im
				bHQ7L2tleSZndDsKCSZsdDtkaWN0Jmd0OwoJCSZsdDtr
				ZXkmZ3Q7Q29sb3IgU3BhY2UmbHQ7L2tleSZndDsKCQkm
				bHQ7c3RyaW5nJmd0O3NSR0ImbHQ7L3N0cmluZyZndDsK
				CQkmbHQ7a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC45MzcyNTQ5MDE5
				NjA3ODQzJmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7
				R3JlZW4gQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0
				O3JlYWwmZ3Q7MC42ODYyNzQ1MDk4MDM5MjE2Jmx0Oy9y
				ZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBvbmVu
				dCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuMzgw
				MzkyMTU2ODYyNzQ1MSZsdDsvcmVhbCZndDsKCSZsdDsv
				ZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAxMyBDb2xv
				ciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7CgkJJmx0
				O2tleSZndDtDb2xvciBTcGFjZSZsdDsva2V5Jmd0OwoJ
				CSZsdDtzdHJpbmcmZ3Q7c1JHQiZsdDsvc3RyaW5nJmd0
				OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21wb25lbnQmbHQ7
				L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjg2NjY2NjY2
				NjY2NjY2NjcmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjQ3MDU4ODIzNTI5NDExNzY0Jmx0
				Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				Nzc2NDcwNTg4MjM1Mjk0MSZsdDsvcmVhbCZndDsKCSZs
				dDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAxNCBD
				b2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7CgkJ
				Jmx0O2tleSZndDtDb2xvciBTcGFjZSZsdDsva2V5Jmd0
				OwoJCSZsdDtzdHJpbmcmZ3Q7c1JHQiZsdDsvc3RyaW5n
				Jmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjc2MDc4
				NDMxMzcyNTQ5MDImbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tl
				eSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsK
				CQkmbHQ7cmVhbCZndDswLjcxMzcyNTQ5MDE5NjA3ODQm
				bHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC4zMzcyNTQ5MDE5NjA3ODQzNCZsdDsvcmVhbCZndDsK
				CSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5zaSAx
				NSBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7
				CgkJJmx0O2tleSZndDtDb2xvciBTcGFjZSZsdDsva2V5
				Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7c1JHQiZsdDsvc3Ry
				aW5nJmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21wb25l
				bnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjQz
				OTIxNTY4NjI3NDUwOTgmbHQ7L3JlYWwmZ3Q7CgkJJmx0
				O2tleSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjM4ODIzNTI5NDExNzY0
				NzA3Jmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVk
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuMzYwNzg0MzEzNzI1NDkwMiZsdDsvcmVhbCZn
				dDsKCSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5z
				aSAyIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZn
				dDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNlJmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdCJmx0Oy9z
				dHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				NDc0NTA5ODAzOTIxNTY4NiZsdDsvcmVhbCZndDsKCQkm
				bHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5
				Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNzY0NzA1ODgyMzUy
				OTQxMSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O1Jl
				ZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVh
				bCZndDswLjU5NjA3ODQzMTM3MjU0OSZsdDsvcmVhbCZn
				dDsKCSZsdDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7QW5z
				aSAzIENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZn
				dDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNlJmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdCJmx0Oy9z
				dHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVlIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				NDgyMzUyOTQxMTc2NDcwNiZsdDsvcmVhbCZndDsKCQkm
				bHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZsdDsva2V5
				Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNzUyOTQxMTc2NDcw
				NTg4MiZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O1Jl
				ZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVh
				bCZndDswLjg5ODAzOTIxNTY4NjI3NDUmbHQ7L3JlYWwm
				Z3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5Jmd0O0Fu
				c2kgNCBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3Qm
				Z3Q7CgkJJmx0O2tleSZndDtDb2xvciBTcGFjZSZsdDsv
				a2V5Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7c1JHQiZsdDsv
				c3RyaW5nJmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21w
				b25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDsw
				LjkzNzI1NDkwMTk2MDc4NDMmbHQ7L3JlYWwmZ3Q7CgkJ
				Jmx0O2tleSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tl
				eSZndDsKCQkmbHQ7cmVhbCZndDswLjY4NjI3NDUwOTgw
				MzkyMTYmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtS
				ZWQgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3Jl
				YWwmZ3Q7MC4zODAzOTIxNTY4NjI3NDUxJmx0Oy9yZWFs
				Jmd0OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0O2tleSZndDtB
				bnNpIDUgQ29sb3ImbHQ7L2tleSZndDsKCSZsdDtkaWN0
				Jmd0OwoJCSZsdDtrZXkmZ3Q7Q29sb3IgU3BhY2UmbHQ7
				L2tleSZndDsKCQkmbHQ7c3RyaW5nJmd0O3NSR0ImbHQ7
				L3N0cmluZyZndDsKCQkmbHQ7a2V5Jmd0O0JsdWUgQ29t
				cG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7
				MC44NjY2NjY2NjY2NjY2NjY3Jmx0Oy9yZWFsJmd0OwoJ
				CSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9uZW50Jmx0Oy9r
				ZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC40NzA1ODgyMzUy
				OTQxMTc2NCZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0
				O1JlZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7
				cmVhbCZndDswLjc3NjQ3MDU4ODIzNTI5NDEmbHQ7L3Jl
				YWwmZ3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5Jmd0
				O0Fuc2kgNiBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2Rp
				Y3QmZ3Q7CgkJJmx0O2tleSZndDtDb2xvciBTcGFjZSZs
				dDsva2V5Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7c1JHQiZs
				dDsvc3RyaW5nJmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBD
				b21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZn
				dDswLjc2MDc4NDMxMzcyNTQ5MDImbHQ7L3JlYWwmZ3Q7
				CgkJJmx0O2tleSZndDtHcmVlbiBDb21wb25lbnQmbHQ7
				L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjcxMzcyNTQ5
				MDE5NjA3ODQmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtSZWQgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0
				O3JlYWwmZ3Q7MC4zMzcyNTQ5MDE5NjA3ODQzNCZsdDsv
				cmVhbCZndDsKCSZsdDsvZGljdCZndDsKCSZsdDtrZXkm
				Z3Q7QW5zaSA3IENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7
				ZGljdCZndDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNl
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdC
				Jmx0Oy9zdHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVl
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuNzQ5MDE5NjA3ODQzMTM3MyZsdDsvcmVhbCZn
				dDsKCQkmbHQ7a2V5Jmd0O0dyZWVuIENvbXBvbmVudCZs
				dDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNjk4MDM5
				MjE1Njg2Mjc0NSZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5
				Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjY3MDU4ODIzNTI5NDExNzYmbHQ7
				L3JlYWwmZ3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7a2V5
				Jmd0O0Fuc2kgOCBDb2xvciZsdDsva2V5Jmd0OwoJJmx0
				O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtDb2xvciBTcGFj
				ZSZsdDsva2V5Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7c1JH
				QiZsdDsvc3RyaW5nJmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1
				ZSBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVh
				bCZndDswLjMyMTU2ODYyNzQ1MDk4MDQmbHQ7L3JlYWwm
				Z3Q7CgkJJmx0O2tleSZndDtHcmVlbiBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjI2NjY2
				NjY2NjY2NjY2NjY2Jmx0Oy9yZWFsJmd0OwoJCSZsdDtr
				ZXkmZ3Q7UmVkIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuMjQzMTM3MjU0OTAxOTYwNzgm
				bHQ7L3JlYWwmZ3Q7CgkmbHQ7L2RpY3QmZ3Q7CgkmbHQ7
				a2V5Jmd0O0Fuc2kgOSBDb2xvciZsdDsva2V5Jmd0OwoJ
				Jmx0O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtDb2xvciBT
				cGFjZSZsdDsva2V5Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7
				c1JHQiZsdDsvc3RyaW5nJmd0OwoJCSZsdDtrZXkmZ3Q7
				Qmx1ZSBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkmbHQ7
				cmVhbCZndDswLjI3NDUwOTgwMzkyMTU2ODY1Jmx0Oy9y
				ZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4gQ29tcG9u
				ZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwmZ3Q7MC4z
				MTM3MjU0OTAxOTYwNzg0Jmx0Oy9yZWFsJmd0OwoJCSZs
				dDtrZXkmZ3Q7UmVkIENvbXBvbmVudCZsdDsva2V5Jmd0
				OwoJCSZsdDtyZWFsJmd0OzAuNzQ1MDk4MDM5MjE1Njg2
				MyZsdDsvcmVhbCZndDsKCSZsdDsvZGljdCZndDsKCSZs
				dDtrZXkmZ3Q7QmFja2dyb3VuZCBDb2xvciZsdDsva2V5
				Jmd0OwoJJmx0O2RpY3QmZ3Q7CgkJJmx0O2tleSZndDtD
				b2xvciBTcGFjZSZsdDsva2V5Jmd0OwoJCSZsdDtzdHJp
				bmcmZ3Q7c1JHQiZsdDsvc3RyaW5nJmd0OwoJCSZsdDtr
				ZXkmZ3Q7Qmx1ZSBDb21wb25lbnQmbHQ7L2tleSZndDsK
				CQkmbHQ7cmVhbCZndDswLjIwMzkyMTU2ODYyNzQ1MDk4
				Jmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4g
				Q29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwm
				Z3Q7MC4xNzI1NDkwMTk2MDc4NDMxMyZsdDsvcmVhbCZn
				dDsKCQkmbHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7
				L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjE1Njg2Mjc0
				NTA5ODAzOTImbHQ7L3JlYWwmZ3Q7CgkmbHQ7L2RpY3Qm
				Z3Q7CgkmbHQ7a2V5Jmd0O0JvbGQgQ29sb3ImbHQ7L2tl
				eSZndDsKCSZsdDtkaWN0Jmd0OwoJCSZsdDtrZXkmZ3Q7
				Q29sb3IgU3BhY2UmbHQ7L2tleSZndDsKCQkmbHQ7c3Ry
				aW5nJmd0O3NSR0ImbHQ7L3N0cmluZyZndDsKCQkmbHQ7
				a2V5Jmd0O0JsdWUgQ29tcG9uZW50Jmx0Oy9rZXkmZ3Q7
				CgkJJmx0O3JlYWwmZ3Q7MC43NDkwMTk2MDc4NDMxMzcz
				Jmx0Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7R3JlZW4g
				Q29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwm
				Z3Q7MC42OTgwMzkyMTU2ODYyNzQ1Jmx0Oy9yZWFsJmd0
				OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuNjcwNTg4MjM1
				Mjk0MTE3NiZsdDsvcmVhbCZndDsKCSZsdDsvZGljdCZn
				dDsKCSZsdDtrZXkmZ3Q7Q3Vyc29yIENvbG9yJmx0Oy9r
				ZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkmbHQ7a2V5Jmd0
				O0NvbG9yIFNwYWNlJmx0Oy9rZXkmZ3Q7CgkJJmx0O3N0
				cmluZyZndDtzUkdCJmx0Oy9zdHJpbmcmZ3Q7CgkJJmx0
				O2tleSZndDtCbHVlIENvbXBvbmVudCZsdDsva2V5Jmd0
				OwoJCSZsdDtyZWFsJmd0OzAuNzQ5MDE5NjA3ODQzMTM3
				MyZsdDsvcmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVu
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuNjk4MDM5MjE1Njg2Mjc0NSZsdDsvcmVhbCZn
				dDsKCQkmbHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7
				L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjY3MDU4ODIz
				NTI5NDExNzYmbHQ7L3JlYWwmZ3Q7CgkmbHQ7L2RpY3Qm
				Z3Q7CgkmbHQ7a2V5Jmd0O0N1cnNvciBUZXh0IENvbG9y
				Jmx0Oy9rZXkmZ3Q7CgkmbHQ7ZGljdCZndDsKCQkmbHQ7
				a2V5Jmd0O0NvbG9yIFNwYWNlJmx0Oy9rZXkmZ3Q7CgkJ
				Jmx0O3N0cmluZyZndDtzUkdCJmx0Oy9zdHJpbmcmZ3Q7
				CgkJJmx0O2tleSZndDtCbHVlIENvbXBvbmVudCZsdDsv
				a2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAuMjAzOTIxNTY4
				NjI3NDUwOTgmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZn
				dDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZndDsKCQkm
				bHQ7cmVhbCZndDswLjE3MjU0OTAxOTYwNzg0MzEzJmx0
				Oy9yZWFsJmd0OwoJCSZsdDtrZXkmZ3Q7UmVkIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				MTU2ODYyNzQ1MDk4MDM5MiZsdDsvcmVhbCZndDsKCSZs
				dDsvZGljdCZndDsKCSZsdDtrZXkmZ3Q7Rm9yZWdyb3Vu
				ZCBDb2xvciZsdDsva2V5Jmd0OwoJJmx0O2RpY3QmZ3Q7
				CgkJJmx0O2tleSZndDtDb2xvciBTcGFjZSZsdDsva2V5
				Jmd0OwoJCSZsdDtzdHJpbmcmZ3Q7c1JHQiZsdDsvc3Ry
				aW5nJmd0OwoJCSZsdDtrZXkmZ3Q7Qmx1ZSBDb21wb25l
				bnQmbHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjc0
				OTAxOTYwNzg0MzEzNzMmbHQ7L3JlYWwmZ3Q7CgkJJmx0
				O2tleSZndDtHcmVlbiBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjY5ODAzOTIxNTY4NjI3
				NDUmbHQ7L3JlYWwmZ3Q7CgkJJmx0O2tleSZndDtSZWQg
				Q29tcG9uZW50Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3JlYWwm
				Z3Q7MC42NzA1ODgyMzUyOTQxMTc2Jmx0Oy9yZWFsJmd0
				OwoJJmx0Oy9kaWN0Jmd0OwoJJmx0O2tleSZndDtTZWxl
				Y3RlZCBUZXh0IENvbG9yJmx0Oy9rZXkmZ3Q7CgkmbHQ7
				ZGljdCZndDsKCQkmbHQ7a2V5Jmd0O0NvbG9yIFNwYWNl
				Jmx0Oy9rZXkmZ3Q7CgkJJmx0O3N0cmluZyZndDtzUkdC
				Jmx0Oy9zdHJpbmcmZ3Q7CgkJJmx0O2tleSZndDtCbHVl
				IENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFs
				Jmd0OzAuMjAzOTIxNTY4NjI3NDUwOTgmbHQ7L3JlYWwm
				Z3Q7CgkJJmx0O2tleSZndDtHcmVlbiBDb21wb25lbnQm
				bHQ7L2tleSZndDsKCQkmbHQ7cmVhbCZndDswLjE3MjU0
				OTAxOTYwNzg0MzEzJmx0Oy9yZWFsJmd0OwoJCSZsdDtr
				ZXkmZ3Q7UmVkIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJ
				CSZsdDtyZWFsJmd0OzAuMTU2ODYyNzQ1MDk4MDM5MiZs
				dDsvcmVhbCZndDsKCSZsdDsvZGljdCZndDsKCSZsdDtr
				ZXkmZ3Q7U2VsZWN0aW9uIENvbG9yJmx0Oy9rZXkmZ3Q7
				CgkmbHQ7ZGljdCZndDsKCQkmbHQ7a2V5Jmd0O0NvbG9y
				IFNwYWNlJmx0Oy9rZXkmZ3Q7CgkJJmx0O3N0cmluZyZn
				dDtzUkdCJmx0Oy9zdHJpbmcmZ3Q7CgkJJmx0O2tleSZn
				dDtCbHVlIENvbXBvbmVudCZsdDsva2V5Jmd0OwoJCSZs
				dDtyZWFsJmd0OzAuNzQ5MDE5NjA3ODQzMTM3MyZsdDsv
				cmVhbCZndDsKCQkmbHQ7a2V5Jmd0O0dyZWVuIENvbXBv
				bmVudCZsdDsva2V5Jmd0OwoJCSZsdDtyZWFsJmd0OzAu
				Njk4MDM5MjE1Njg2Mjc0NSZsdDsvcmVhbCZndDsKCQkm
				bHQ7a2V5Jmd0O1JlZCBDb21wb25lbnQmbHQ7L2tleSZn
				dDsKCQkmbHQ7cmVhbCZndDswLjY3MDU4ODIzNTI5NDEx
				NzYmbHQ7L3JlYWwmZ3Q7CgkmbHQ7L2RpY3QmZ3Q7CiZs
				dDsvZGljdCZndDsKJmx0Oy9wbGlzdCZndDsKPC9wcmU+
				PC9ib2R5PjwvaHRtbD4=
				</data>
				<key>WebResourceFrameName</key>
				<string></string>
				<key>WebResourceMIMEType</key>
				<string>text/plain</string>
				<key>WebResourceTextEncodingName</key>
				<string>UTF-8</string>
				<key>WebResourceURL</key>
				<string>https://raw.githubusercontent.com/joshdick/onedark.vim/master/term/One%20Dark.itermcolors</string>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>714CFB25-570E-40C1-976A-A14D94F08AEF</string>
	<key>EnableDivisionView</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Desktop</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGNjdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK4HCA8aGxwdHh8gJjAxMlUkbnVsbNIJCgsOWk5TLm9iamVjdHNWJGNsYXNzogwN
	gAKACoAN0xAJChEVGVdOUy5rZXlzoxITFIADgASABaMWFxiABoAHgAiACVpJZGVudGlm
	aWVyVVdpZHRoVkhpZGRlblEwI0BowAAAAAAACNIhIiMkWiRjbGFzc25hbWVYJGNsYXNz
	ZXNcTlNEaWN0aW9uYXJ5oiMlWE5TT2JqZWN00xAJCicrGaMSExSAA4AEgAWjLC0YgAuA
	DIAIgAlRMSNAdKGdsi0OVtIhIjM0Xk5TTXV0YWJsZUFycmF5ozM1JVdOU0FycmF5XxAP
	TlNLZXllZEFyY2hpdmVy0Tg5VUFycmF5gAEACAARABoAIwAtADIANwBGAEwAUQBcAGMA
	ZgBoAGoAbABzAHsAfwCBAIMAhQCJAIsAjQCPAJEAnACiAKkAqwC0ALUAugDFAM4A2wDe
	AOcA7gDyAPQA9gD4APwA/gEAAQIBBAEGAQ8BFAEjAScBLwFBAUQBSgAAAAAAAAIBAAAA
	AAAAADoAAAAAAAAAAAAAAAAAAAFM
	</data>
	<key>NSTableView Sort Ordering v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxARWiRjbGFz
	c25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRFhdVQXJyYXmAAQgRGiMtMjc7QUZRWFlbYGt0g4ePmKqt
	swAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 KeyBingingTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame SharedPreferences</key>
	<string>617 123 796 473 0 0 1680 1027 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>191 101 927 628 0 0 1680 1027 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>212 101 570 451 0 0 1680 1027 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.10671033710241318</real>
				<key>Red Component</key>
				<real>0.78948754072189331</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40574401617050171</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.98005551099777222</real>
				<key>Red Component</key>
				<real>0.37384927272796631</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40360701084136963</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.98756903409957886</real>
				<key>Red Component</key>
				<real>0.99950307607650757</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44455403089523315</real>
				<key>Red Component</key>
				<real>0.40903013944625854</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78187626600265503</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14570146799087524</real>
				<key>Red Component</key>
				<real>0.0096073681488633156</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99263077974319458</real>
				<key>Red Component</key>
				<real>0.37558192014694214</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76238268613815308</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76931363344192505</real>
				<key>Red Component</key>
				<real>0.78030157089233398</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78187626600265503</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14570146799087524</real>
				<key>Red Component</key>
				<real>0.0096073681488633156</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78126317262649536</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.18882927298545837</real>
				<key>Red Component</key>
				<real>0.78993374109268188</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78137689828872681</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77397626638412476</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78076320886611938</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7807731032371521</real>
				<key>Red Component</key>
				<real>0.7807546854019165</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40747517347335815</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40748065710067749</real>
				<key>Red Component</key>
				<real>0.40747052431106567</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40534937381744385</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43003323674201965</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78076320886611938</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7807731032371521</real>
				<key>Red Component</key>
				<real>0.7807546854019165</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78076320886611938</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7807731032371521</real>
				<key>Red Component</key>
				<real>0.7807546854019165</real>
			</dict>
			<key>Guid</key>
			<string>714CFB25-570E-40C1-976A-A14D94F08AEF</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.86945539712905884</real>
				<key>Red Component</key>
				<real>0.75742977857589722</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/horimislime</string>
		</dict>
	</array>
	<key>NoSyncHaveWarnedAboutPasteConfirmationChange</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>A6114988-2B60-4F47-9430-4508717C3BD5</string>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile_selection</key>
	<integer>0</integer>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>537603169.03945994</real>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/horimislime/.ghq/github.com/horimislime/dotfiles/.iterm</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final.xml?shard=69</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2018-01-14T06:33:45Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>StretchTabsToFillBar</key>
	<true/>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>UseBorder</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>iTerm Version</key>
	<string>3.1.5</string>
</dict>
</plist>
